/* All font related */
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Global styles */
body {
    background-color: #fdfed5;
}

h1 {
    font-family: "Playfair Display", serif;
    color: #294b14;
}

img {
    height: auto;
    width: 50%;
}

p {
    font-family: "Lato", sans-serif;
    color: #294b14;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#message {
    height: 20%;
    width: 40%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 75, 20, 0.5)
    color: #fdfed5;
    z-index: 2;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}