/* All font related */
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Global styles */
body {
    background-color: #fdfed5;
}

h1 {
    font-family: "Playfair Display", serif;
    color: #294b14;
}

img {
    height: auto;
    width: 50%;
}

p {
    font-family: "Lato", sans-serif;
    color: #294b14;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 
    padding: 20px;
    background-color: rgba(41, 75, 20, 0.9);
    text-align: center;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: #fdfed5;
}

.health-labels {
    color: #fdfed5;
    word-break: break-all; 
    word-wrap: break-word;
}

.click-me {
    padding: 5px;
    color: #294b14;
    background-color: #fdfed5;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.click-me:hover {
    cursor: pointer;
}

.more-food {
    margin-top: 10px;
    text-align: center;
}

.fruits:hover {
    cursor: pointer;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}